USE db_CursoSqlServer

SELECT * FROM tbl_Clientes

INSERT INTO tbl_Clientes (IdCliente, Nome)
VALUES (1, 'WILLIAM'), (2, 'NINA')

TRUNCATE TABLE tbl_Clientes -- EXCLUI TODOS OS REGISTROS DA TABELA