<!DOCTYPE html>
<html lang="pt-br" ng-app="ListaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 02 - Angular</title>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CSS-->
    <style>
        .jombotron {
            width: 500px;
            background-color: darkgrey;
            color: black;
            font-family: monospace;
        }
    </style>

    <!--Angular-->
    <script src="/angular/angular-1.8.2/angular.js"></script>
    <script>
        angular.module('ListaTelefonica', []);
        angular.module('ListaTelefonica').controller('ListaTelefonicaCtrl', function ($scope) {
            $scope.title = "Lista Telefonica";
            $scope.ListaTel = [
                {
                    nome: "WILLIAM",
                    ddd: 21,
                    numero: "99999-8888",
                    operadora: "NEXTEL"
                },
                {
                    nome: "NINA",
                    ddd: 82,
                    numero: "98888-7777",
                    operadora: "CLARO"
                },
                {
                    nome: "ALEX",
                    ddd: 21,
                    numero: "97777-7777",
                    operadora: "VIVO"
                },
                {
                    nome: "WALACE",
                    ddd: 21,
                    numero: "97777-7777",
                    operadora: "TIM"
                },
                {
                    nome: "MÃE",
                    ddd: 21,
                    numero: "96666-6666",
                    operadora: "OI"
                },
            ]

             $scope.cadastrar = function cadastrarTelNaLista(contato){
                $scope.ListaTel.push(angular.copy(contato));
                delete $scope.contato;
            }


        });
    </script>
</head>

<body ng-controller="ListaTelefonicaCtrl">

    <div class="mx-auto mt-4 p-4 jombotron">
        <h3 class="text-center" ng-bind="title"></h3>
        <table class="table table-responsive table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">DDD</th>
                    <th scope="col">Número</th>
                    <th scope="col">Operadora</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in ListaTel track by $index">
                <tr>
                    <td scope="row">{{item.nome}}</td>
                    <td>{{item.ddd}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.operadora}}</td>
                </tr>
            </tbody>
        </table>

        <input type="text" class="form-control mb-2" placeholder="Nome" ng-model="contato.nome">
        <input type="text" class="form-control mb-2" placeholder="DDD" ng-model="contato.ddd">
        <input type="text" class="form-control mb-2" placeholder="Número" ng-model="contato.numero">
        <input type="text" class="form-control mb-2" placeholder="Operadora" ng-model="contato.operadora">
        <button type="button" class="btn btn-light btn-outline-primary w-100 fs-5"
            ng-click="cadastrar(contato)">Cadastrar</button>
            {{contato}}
    </div>


    <!--BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>