<!DOCTYPE html>
<html lang="pt-br" ng-app="ListaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 05 - Angular</title>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CSS-->
    <style>
        .jombotron {
            width: 700px;
            background-color: darkgrey;
            color: black;
            font-family: monospace;
        }

        .selecionado {
            background-color: red;
        }

        .negrito {
            font-weight: bold;
        }
    </style>

    <!--ANGULAR-->
    <script src="/angular/angular-1.8.2/angular.js"></script>
    <script src="/angular/angular-1.8.2/angular-messages.js"></script>
    <script src="/angular/angular-1.8.2/i18n/angular-locale_pt-br.js"></script>

    <script>
        angular.module('ListaTelefonica', ["ngMessages"]);

        angular.module('ListaTelefonica').controller('ListaTelefonicaCtrl', function ($scope, $filter) {
            $scope.title = "Lista Telefonica";
            $scope.listaTel = [
                {
                    nome: $filter('uppercase')("william"),
                    ddd: 21,
                    numero: "99999-8888",
                    operadora: "NEXTEL",
                    cor: "orange",
                    dataCadastro: new Date()
                },
                {
                    nome: $filter('uppercase')("nina"),
                    ddd: 82,
                    numero: "98888-7777",
                    operadora: "CLARO",
                    cor: "red",
                    dataCadastro: new Date()
                },
                {
                    nome: $filter('uppercase')("alex"),
                    ddd: 21,
                    numero: "97777-7777",
                    operadora: "VIVO",
                    cor: "blue",
                    dataCadastro: new Date()
                },
                {
                    nome: $filter('uppercase')("walace"),
                    ddd: 21,
                    numero: "97777-7777",
                    operadora: "TIM",
                    cor: "green",
                    dataCadastro: new Date()
                },
                {
                    nome: $filter('uppercase')("mãe"),
                    ddd: 21,
                    numero: "96666-6666",
                    operadora: "CLARO",
                    cor: "pink",
                    dataCadastro: new Date()
                },
                {
                    nome: $filter('uppercase')("pai"),
                    ddd: 21,
                    numero: "97272-6666",
                    operadora: "OI",
                    cor: "black",
                    dataCadastro: new Date()
                },
            ]

            $scope.operadoras = [
                { nome: "OI", categoria: "FIXO", valor: 2 },
                { nome: "GVT", categoria: "FIXO", valor: 0.25 },
                { nome: "TIM", categoria: "CELULAR", valor: 1.50 },
                { nome: "VIVO", categoria: "CELULAR", valor: 1 },
                { nome: "NEXTEL", categoria: "CELULAR", valor: 0.75 },
                { nome: "CLARO", categoria: "CELULAR", valor: 0.50 }
            ]

            $scope.cadastrarContato = function cadastrarTelNaLista(contato) {
                contato.dataCadastro = new Date();
                $scope.listaTel.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.apagarContato = function apagarTelNaLiSTA(contatos) {
                $scope.listaTel = contatos.filter((contato) => {
                    if (!contato.selecionado) {
                        return contato;
                    }
                })
            }

            $scope.isContatoSelecionado = function (contatosSelecionado) {
                return contatosSelecionado.some((contato) => {
                    return contato.selecionado
                })
            }

            $scope.buscar = function (filtro) {
                $scope.filtro = filtro;
            }

            $scope.ordernarPor = function (ordem) {
                $scope.ordem = ordem;
                $scope.direcao = !$scope.direcao;
            }

            $scope.classe1 = "selecionado";
            $scope.classe2 = "negrito";
            $scope.ativo = false;

        });
    </script>
</head>

<body ng-controller="ListaTelefonicaCtrl">

    <div class="mx-auto mt-4 p-4 jombotron rounded">
        <h3 class="text-center" ng-bind="title"></h3>

        <!-- FILTRAR DADOS -->
        <div class="row d-flex justify-content-center mt-3">
            <input class="form-control" style="width: 85%;" type="text" ng-model="criterioDeBusca"
                placeholder="O que você está buscando?">
            <button class="btn btn-primary ms-2" style="width: 10%;" type="button" ng-click="buscar(criterioDeBusca)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg> </button>
            </input>
        </div>


        <!-- TABELA COM OS DADOS -->
        <table class="table table-responsive text-center" ng-show="listaTel.length > 0">
            <thead>
                <tr>
                    <th scope="col">Remover</th>
                    <th scope="col"><a href="" ng-click="ordernarPor('nome')">Nome<a/></th>
                    <th scope="col"><a href="" ng-click="ordernarPor('ddd')">DDD</a></th>
                    <th scope="col"><a href="" ng-click="ordernarPor('numero')">Número</a></th>
                    <th scope="col"><a href="" ng-click="ordernarPor('operadora')">Operadora</a></th>
                    <th scope="col"><a href="" ng-click="ordernarPor('dataCadastro)">Data Cadastro</a></th>
                    <th scope="col"><a href="" ng-click="ordernarPor('cor')">Cor</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'selecionado negrito': item.selecionado}" ng-repeat="item in listaTel | filter: filtro | orderBy: ordem : direcao | limitTo: 7">
                    <td scope="row">
                        <input type="checkbox" ng-model="item.selecionado" />
                    </td>
                    <td>{{item.nome}}</td>
                    <td>{{item.ddd}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.operadora | lowercase}}</td>
                    <td>{{item.dataCadastro | date: 'dd/MM/yyyy hh:mm'}}</td>
                    <td>
                        <div style="width: 20px;" ng-style="{'background-color': item.cor}">{{item.cor}}</div>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- FORMULARIO -->
        <form name="contatoForm">
            <input type="text" class="form-control mb-2" placeholder="Nome" name="nome" ng-model="contato.nome"
                ng-required="true" ng-minlength="3">
            <input type="text" class="form-control mb-2" placeholder="DDD" name="ddd" ng-model="contato.ddd"
                ng-required="true">
            <input type="text" class="form-control mb-2" placeholder="Número" name="numero" ng-model="contato.numero"
                ng-pattern="/^\d{4,5}-\d{4}$/" ng-required="true" ng-maxlength="10">
            <select class="form-select text-center mb-2" ng-model="contato.operadora"
                ng-options="operadora.nome + ' - ('+ (operadora.valor | currency) + ')' for operadora in operadoras | orderBy: 'nome'" name="operadora"
                ng-required="true">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <!-- MENSAGENS DE ERROS PARA O FORMULARIO -->
        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required">
                Preencha o campo Nome para realizar o cadastro.
            </div>
            <div ng-message="minlength">
                Digite seu nome deve conter no minimo 3 caracteres.
            </div>
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.ddd.$invalid && contatoForm.ddd.$dirty">
            Preencha o campo DDD para realizar o cadastro.
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.numero.$error.required && contatoForm.numero.$dirty">
            Preencha o campo Número para realizar o cadastro.
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.numero.$error.maxlength">
            Digite no máximo 10 caracteres
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.numero.$error.pattern">
            Campo fora do padrão ex: 99999-8888 ou 9999-8888
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">
            Preencha o campo Operadora para realizar o cadastro.
        </div>

        <!-- BOTÕES PARA O CADASTRA E REMOVER -->
        <button type="button" class="btn btn-light btn-outline-primary mb-2 w-100 fs-5"
            ng-click="cadastrarContato(contato)" ng-disabled="contatoForm.$invalid">Cadastrar</button>
        <button type="button" class="btn btn-light btn-outline-danger w-100 fs-5" ng-click="apagarContato(listaTel)"
            ng-if="isContatoSelecionado(listaTel)">Remover</button>
    </div>

    <!-- FOOOTER - INCLUINDO COMPONENTE DE OUTRO DOCUMENTO HTML -->
    <footer class="row text-center position-relative bottom mb-2 fs-5 fw-bolder" ng-include="'footer.html'">

    </footer>

    <!--BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>